body {
  font-family: sans-serif;
  font-size: 12px;
}
.stmt-group {
  margin-right: 100px;
}
.stmt {
  background: #eee;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
}
.stmt-bank {
  font-weight: bold;
}
.entry {
  background: #efefef;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 1px;
  padding: 2px;
}
.entry:hover {
  background: #fff;
}
.entry.sorted {
  -webkit-transform: scale(0) translate(100%, 0);
  -webkit-transition: 0.5s ease-out;
}
.entry-item {
  margin-right: 5px;
}
.entry-item.date {
  float: left;
  margin-right: 10px;
}
.entry-item.description {
  overflow: hidden;
}
.entry-item.amount {
  float: right;
  margin-left: 10px;
}
#sorter-outer {
  background: rgba(200, 200, 200, 0.5);
  border: #ccc;
  box-shadow: 2px 2px 5px #888;
  position: fixed;
  right: 0px;
  top: 200px;
  z-index: 1000;
}
#sorter-new {
  padding: 5px 10px;
}
.sort-category {
  border-bottom: 1px solid #ccc;
  min-height: 0;
  padding: 10px 15px;
  -webkit-animation: closeCategory 0.5s;
}
.sort-category:hover,
.sort-category.over {
  min-height: 50px;
  -webkit-animation: openCategory 0.5s;
}
.sort-category,
#sorter-new {
  font-size: 14px;
  text-align: center;
}
@-webkit-keyframes openCategory {
  from {min-height: 0;}
  to {min-height: 50px;}
}
@-webkit-keyframes closeCategory {
  from {min-height: 50px;}
  to {min-height: 0;}
}
